<div class="infor" style="text-align: center;">
    <h1>Bienvenido al CRUD de Factus</h1>
    <a href="#" onclick="return false;" (click)="logout()">
        Logout
    </a>
</div>

<!-- Crea un listado con 3 enlaces -->
<img src="https://api-sandbox.factus.com.co/storage/images/logos/lC5CLGXHgwlv8slaoiKC6dHkVLIXQVaDkL9C1Yqc.png"
    alt="factus" style="display: block; margin: 0 auto; max-width: 200px;">
<ul>
    <li><a [routerLink]="['/ver-facturas']">Ver Facturas</a></li>
    <li><a [routerLink]="['/crear-factura']">Crear Factura</a></li>
    <li><a [routerLink]="['/']">Home</a></li>
</ul>