<div class="infor">
    <h2>Listado de facturas</h2>

    <div class="enlaces">
        <a [routerLink]="'/'">
            Volver
        </a>
        <a href="/" onclick="return false;" (click)="logout()">
            Logout
        </a>
    </div>
</div>

<p class="texto-selecc">Seleccione el tipo de filtro</p>
<div class="input-group">
    <select class="form-control option" [(ngModel)]="selectedFilter" (change)="onFilterChange()">
        <option value="names">Nombre</option>
        <option value="identification">Identificación</option>
        <option value="number">Número</option>
        <option value="prefix">Prefijo</option>
        <option value="reference_code">Código de referencia</option>
    </select>
    <input type="text" class="form-control" [(ngModel)]="searchTerm" (input)="searchFacturas()"
        placeholder="Buscar factura..." aria-label="Buscar factura">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <div class="enlaces">
        <a href="/" onclick="return false;" (click)="limpiarBusqueda()">Limpiar</a>
    </div>
</div>

<div class="container-fluid mt-5">
    <!-- Tabla de Facturas -->
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover w-100">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Identificación</th>
                    <th>Email</th>
                    <th>N° Factura</th>
                    <th>Codigo de referencia</th>
                    <th>Estado</th>
                    <th>Total</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factura of facturas">
                    <td>{{ factura.id }}</td>
                    <td>{{ factura.names }}</td>
                    <td>{{ factura.identification }}</td>
                    <td>{{ factura.email }}</td>
                    <td>{{ factura.number }}</td>
                    <td>{{ factura.reference_code }}</td>
                    <td>
                        @if(factura.status == 1) {
                        <span>Validada</span>
                        }

                        @if(factura.status == 2) {
                        <span>Pendiente</span>
                        }
                    </td>
                    <td>{{ factura.total }}</td>
                    <td class="acciones">

                        <a href="#" onclick="return false;" title="Edit">
                            Edit
                        </a>

                        <a class="delete" href="#" onclick="return false;" title="Delete">
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Controles de Paginación -->
    <div class=" align-items-center mt-3 table-responsive">
        <div class="pagination-controls d-flex justify-content-between w-100">
            <!-- Botón para la primera página -->
            <button class="btn btn-outline-primary" (click)="changePage(1)" [disabled]="currentPage === 1"
                aria-label="Ir a la primera página">Primera</button>

            <!-- Botón para la página anterior -->
            <button class="btn btn-outline-primary" (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"
                aria-label="Página anterior">Anterior</button>

            <!-- Mostrar rango de páginas -->
            <span class="mx-3">Mostrando {{ (currentPage - 1) * perPage + 1 }} -
                {{ currentPage * perPage < totalRecords ? currentPage * perPage : totalRecords }} de {{ totalRecords }}
                    registros </span>

                    <!-- Botón para la página siguiente -->
                    <button class="btn btn-outline-primary" (click)="changePage(currentPage + 1)"
                        [disabled]="currentPage * perPage >= totalRecords"
                        aria-label="Página siguiente">Siguiente</button>

                    <!-- Botón para la última página -->
                    <button class="btn btn-outline-primary" (click)="changePage(totalPages)"
                        [disabled]="currentPage === totalPages" aria-label="Ir a la última página">Última</button>

                    <!-- Controles de salto rápido -->
                    <div class="pagination-jump d-flex justify-content-between">
                        <button class="btn btn-outline-secondary" (click)="changePage(currentPage - 10)"
                            [disabled]="currentPage <= 10" aria-label="Saltarse 10 páginas atrás">-10</button>
                        <button class="btn btn-outline-secondary" (click)="changePage(currentPage + 10)"
                            [disabled]="currentPage * perPage >= totalRecords"
                            aria-label="Saltarse 10 páginas adelante">+10</button>
                    </div>
        </div>
    </div>
</div>